
    <a class="fb-ic">
        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <!-- Twitter -->
    <a class="tw-ic">
        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <!--Instagram-->
    <a class="ins-ic">
        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <!--Pinterest-->
    <a class="pin-ic">
        <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
    </a></br>
    Copyright &copy;

