<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


  <!-- JS file for autocomplete -->


  <!-- CSS file for autocomplete-->
  <link rel="stylesheet" href="/styles/easy-autocomplete.css">
  <link rel="stylesheet" href="/styles/easy-autocomplete.themes.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/apiResults.css">
  <title>Home Page</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar-first">
    <div class="container" id="nav-bar">
      <a class="navbar-brand" href="/profile">
        <img src="https://i.imgur.com/Aikj556.png?1" width="190px" height="70px">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          {{#if user}}

          <li class="nav-item">
            <a class="nav-link1" href="/profile" id="slogan"> Fantastic feasts and where to find them </a>
          </li>

          

          {{/if}}
        </ul>
        <ul class="navbar-nav" id="nav-font">
          {{#unless user}}
          <li class="nav-item">
            <a class="nav-link1" href="/">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link1" href="/login">Login</a>
          </li>
          {{/unless}}
          {{#if user}}
          <li class="nav-item">
            <a class="nav-link1" href="/profile">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link1" href="/grub">Grub</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/example">My Recipes</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
  
  <div>
    {{{body}}}
    {{> footer}}
  </div>



  {{!-- <!-- Footer -->
  <footer class="page-footer font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container footer">

      <!-- Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-12 py-5" id="footer-icons">
          <div class="mb-5 flex-center">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
              <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> GitGrub Inc.</a>
    </div>
    <!-- Copyright -->

  </footer> --}}
  <!-- Footer -->
  <!-- Footer -->

  <!-- Footer -->
{{!-- <footer class="foot">
    <div class="container">
      <div>

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
              <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>
          </div>
      Copyright &copy;
    </div>
  </footer> --}}
  

  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="/js/index.js" defer></script>
  <script src="/js/signup.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/apiResults.js"></script>
  <script src="/js/hound.js"></script>
  <script src="/js/jquery.easy-autocomplete.min.js"></script>
  <script src="/js/autoComplete.js"></script>
  <script src="/js/recipe.js"></script>
</body>

</html>