<div class="myrecipe-page">
  <div class="row">
    <div class="col-8 offset-2">
      <h1 class="text-center">Post a Recipe of Your Own</h1>
      <form class="clearfix mb-4" action="POST">
        <div class="form-group">
          <label for="recipe-title">Recipe Title</label>
          <input type="text" id="recipe-title" class="form-control" aria-describedby="recipe-title"
            placeholder="Enter Recipe Title">
        </div>
        <div class="form-group">
          <label for="recipe-text">Recipe Directions</label>
          <textarea class="form-control" id="recipe-text" aria-describedby="recipe-text"
            placeholder="Enter Recipe Directions"></textarea>
        </div>
        <button id="submit" class="btn btn-primary float-right">Submit</button>
      </form>
      <h3 class="myrecipe-data">My Recipes:</h3>


      <div class="myrecipe-table col-md-8">
        <table class="table" bgcolor="#00FF00">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Recipe</th>
              <th scope="col">Directions</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody id="recipe-list">

          </tbody>
        </table>
      </div>
    </div>
    {{!-- <ul id="recipe-list" class="list-group">
      {{#each user.Examples}}
      <li data-id="{{this.id}}" class="list-group-item">
        <a href="example/{{this.id}}">{{this.text}}</a>
        <button class="btn btn-danger float-right delete">ｘ</button>
      </li>
      {{/each}}
    </ul> --}}
  </div>
</div>
