<div class="grub-page">
<div class="container-fluid rounded" id="grubPage">
  <div class="row">
    <div class="col-md-6">
      <h3>Let's see if Mr. Grubs can help you:</h3>
      <form id="houndSearch">
        <div class="input-group">
          {{!-- <label for="searchRecipe">Search Recipe</label> --}}
          <input type="input" class="form-control" id="hound-search-input"
            placeholder="How many calories does an orange have">
          <span class="input-group-btn">
            <button type="submit" class="btn">Grub It</button>
          </span>
        </div>
      </form>
      <h1 id="show-hound-text"></h1>
    </div>
  </div>

  <!-- Search Form -->
  <br>
  <br>
   <h3>If he can't help you, ask his friend Google:</h3>
  <form id="labnol" method="get" action="https://www.google.com/search" target="_blank">
    <div class="speech">
      <input type="text" name="q" id="transcript" placeholder="Speak" />
      <img onclick="startDictation()" src="//i.imgur.com/cHidSVu.gif" />
    </div>
  </form>
</div>
</div>



  <!-- CSS Styles -->
  <style>
    .speech {
      width: 300px;
      padding: 0;
      margin: 0
    }

    .speech input {
      border: 0;
      width: 240px;
      display: inline-block;
      height: 33px;
      border-radius: 5px
    }

    .speech img {
      height: 33px;
      background: #FCD949;
      border-radius: 5px

    }
    .speech img:hover {
      background:#1B4118;
    }
  </style>


  <!-- HTML5 Speech Recognition API -->
  <script>
    function startDictation() {

      if (window.hasOwnProperty('webkitSpeechRecognition')) {

        var recognition = new webkitSpeechRecognition();

        recognition.continuous = false;
        recognition.interimResults = false;

        recognition.lang = "en-US";
        recognition.start();

        recognition.onresult = function (e) {
          document.getElementById('transcript').value
            = e.results[0][0].transcript;
          recognition.stop();
          document.getElementById('labnol').submit();
        };

        recognition.onerror = function (e) {
          recognition.stop();
        }

      }
    }
  </script>



  </script>