<div class="container-fluid rounded" id="grubPage">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <img
        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/08aea422-eab9-428b-82c9-9c04e411bb8c/dan2fta-512882e1-ad4a-4c23-9194-8ea14e276e22.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA4YWVhNDIyLWVhYjktNDI4Yi04MmM5LTljMDRlNDExYmI4Y1wvZGFuMmZ0YS01MTI4ODJlMS1hZDRhLTRjMjMtOTE5NC04ZWExNGUyNzZlMjIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Wl_zyJACEcfwgOMw73XlhwNiLSUkx62U8kWvtZKV0Sg"
        width="200px">
      <h3>Let's see if Mr. Grub can help you:</h3>
      <form id="houndSearch">
        <div class="input-group">
          {{!-- <label for="searchRecipe">Search Recipe</label> --}}
          <input type="input" class="form-control" id="hound-search-input"
            placeholder="How many calories does an orange have">
          <span class="input-group-btn">
            <button type="submit" class="btn">Submit</button>
          </span>
        </div>
      </form>
      <h1 id="show-hound-text"></h1>
    </div>
  </div>

  <!-- Search Form -->

   <h3>If he can't help you, ask his friend Google:</h3>
  <form id="labnol" method="get" action="https://www.google.com/search">
    <div class="speech">
      <input type="text" name="q" id="transcript" placeholder="Speak" />
      <img onclick="startDictation()" src="//i.imgur.com/cHidSVu.gif" />
    </div>
  </form>




  <!-- CSS Styles -->
  <style>
    .speech {
      border: 1px solid #DDD;
      width: 300px;
      padding: 0;
      margin: 0
    }

    .speech input {
      border: 0;
      width: 240px;
      display: inline-block;
      height: 30px;
    }

    .speech img {
      float: right;
      width: 40px
    }
  </style>


  <!-- HTML5 Speech Recognition API -->
  <script>
    function startDictation() {

      if (window.hasOwnProperty('webkitSpeechRecognition')) {

        var recognition = new webkitSpeechRecognition();

        recognition.continuous = false;
        recognition.interimResults = false;

        recognition.lang = "en-US";
        recognition.start();

        recognition.onresult = function (e) {
          document.getElementById('transcript').value
            = e.results[0][0].transcript;
          recognition.stop();
          document.getElementById('labnol').submit();
        };

        recognition.onerror = function (e) {
          recognition.stop();
        }

      }
    }
  </script>



  </script>