<div class="row">
  <div class="col-8 offset-2">
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">My Recipe</h5>
        <p>
          <strong>ID</strong>: {{example.id}}</p>
        <p>
        <p>
          <strong>Title</strong>: {{example.title}}</p>
        <p>
          <strong>Directions:</strong> {{example.directions}}</p>
          <a href="/example">← Back To My Recipes</a>
      </div>
    </div>
  </div>
</div>
