<div class="row">
  <div class="col-8 offset-2">
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">Post recipe!</h5>

        <p>
          <strong></strong> {{example.id}}</p>
        <p>
          <strong>Title</strong>: {{example.title}}</p>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Chicken Noodle Soup">
        <p>
          <strong>Ingredients</strong>: {{example.text}}</p>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <p>
          <strong>Instructions</strong>: {{example.description}}</p>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

        <button type="submit" class="btn">Submit</button>
        
        <a href="/home">← Back To Home</a>
      </div>
    </div>
  </div>
</div>