<div class="row">
  <img id="profile-pic"
    src="https://i.dietdoctor.com/wp-content/uploads/2018/03/DD-599-ketocobbsalad-2.jpg?auto=compress%2Cformat&w=1600&h=1067&fit=crop">

  <div class="container-fluid rounded" id="searchbar">
    <div class="col-md-8">
      <h3>Search recipes:</h3>
      <div class="form-group">
        {{!-- <label for="searchRecipe">Search Recipe</label> --}}
        <input type="input" class="form-control" id="searchRecipe" placeholder="fried chicken">
      </div>

    </div>
  </div>
</div>