/* API Results*/
.results {
    z-index: 1500;
    margin: 0 auto;
    padding-left: 1.75vw
}
.d-block {
    width: 32vw;
    float: left;
    border: 4px solid black
}
/* .img1, .img2, .img3 {
    border-right: 0px;
} */
.img0 {
    border-right: 2px solid black;
}
.img1 {
    border-left: 2px solid black;
}
.img2 {
    border-left: 2px solid black;
}
.title0, .title1, .title2 {
    color: white;
    position: absolute;
    background: rgb(0, 0, 0, .7);
    width: 32vw;
    bottom: 40px;
    text-align: center;
    padding-top: 5px;
}
.heart0 a, .heart1 a, .heart2 a {
    color: white;
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgb(0, 0, 0, .7);
    top: 5px;
    border-radius: 50%;
    text-align: center;
    font-size: 26px;
}
.heart0 a{
    left: 27vw;
}
.title1{
    left: 32vw;
}
.heart1 a{
    left: 59vw;
}
.title2{
    left: 64vw;
}
.heart2 a{
    left: 91vw;
    z-index: 2;
}
#image {
    position: relative;
}
.heart0 a:hover, .heart1 a:hover, .heart2 a:hover {
    color: red;
}
