.resultImg {
    position: relative;
    border: 2px solid black
}
.nextResult, .prevResult {
    width: 25px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    opacity: 1;
}
.title {
    color: white;
    position: absolute;
    background: rgb(0, 0, 0, .7);
    width: 22vw;
    bottom: 40px;
    text-align: center;
    padding-top: 5px;
}
.heart a {
    color: white;
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgb(0, 0, 0, .7);
    top: 5px;
    border-radius: 50%;
    text-align: center;
    font-size: 26px;
    right: 10px;
    z-index: 2;
}
.heart a:hover {
    color: red;
}
